{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <main>
      <div id="home" class="hero d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-white display-1 fw-bold ms-4 pt-4">About Big Events</h1>
        <a class="btn btn-success ms-4 my-4" href="/event">Show All Events</a>
        <a class="btn btn-primary ms-4 my-2" href="/">Show By Type</a>
      </div>
      <div class="w-75 mx-auto p-5 mt-5 rounded bg-secondary">
        <p><b>BIG EVENTS</b> is an honor-winning event arranging and setting firm. Our full services, all-the-way subtleties, and administrations make our studio the ideal beginning for everything party style. Through imaginative structure and immaculate execution, we create paramountly and one-of-a-kind events, everything being equal, sizes and styles.</p>

        <p>For a long time, our capable, experienced group has aced incalculable festivals – weddings, corporate occasions, birthday celebrations, meals and that's only the tip of the iceberg.</p>
          
        <p>Named World's Top 10 Event Planner by Time Magazine, top wedding organizer by Weddings International, top event organizer in Vienna, and best event trend-setter by ORF Austria, we share our understanding and energy with customers both huge and little.</p>
          
        <p>Our Vienna studio is the ideal break from the real world. Walk around the best new plan patterns, shading palettes, florals, and presents for each event as we breathe life into motivation all day every day. From arranging, styling, florals, lighting, rentals, stationery, cute gifts, and coordination, our administration is exceptionally close to home.</p>
          
        <p class="fw-bold fs-4 text-center">Our adage is basic: Celebrate. Live. Love. Snicker. We anticipate making your next event the best ever!</p>
      </div>
    </main>
{% endblock %}
