{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <main>
      <div id="home" class="hero d-flex flex-column justify-content-center align-items-center">
        <h1 class="text-white display-1 fw-bold ms-4 pt-4">About Big Events</h1>
        <a class="btn btn-success ms-4 my-4" href="/event">Show All Events</a>
        <a class="btn btn-primary ms-4 my-2" href="/">Show By Type</a>
      </div>
    </main>
{% endblock %}
