{% extends 'base.html.twig' %}

{% block title %}Welcome to Big Events!{% endblock %}

{% block body %}
    <main>
            <div id="home" class="hero d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-white text-center display-1 fw-bold ms-4 pt-4">Welcome to Big Events</h1>
                <a class="btn btn-success ms-4 my-4" href="/event">Show All Events</a>
            </div>
    </main>
{% endblock %}
