body {
  margin: 0;
  padding: 0;
}

.pink-link:link    { color: #CD1DF2; }
.pink-link:visited { color: #7e1194; }
.pink-link:hover   { color: #7e1194; }
.pink-link:focus   { outline: 1px solid #CD1DF2; }
.pink-link:active  { color: #7e1194;}

a.btn, .btn {
  margin-block: 0.5rem;
}

.btn {
  border-radius: 0px;
}

.btn-success, .btn-danger {
  background-color: #CD1DF2;
  border: #CD1DF2;
}

.btn-success:hover, .btn-danger:hover {
  background-color: #7e1194;
}

.btn-primary {
  background-color: #022FC0;
  border: #022FC0;
}

.btn-primary:hover {
  background-color: #011862;
}

.btn-secondary {
  background-color: #0eccb4;
  border: #0eccb4;
}

.btn-secondary:hover {
  background-color: #00a08b;
}

.nav-link:hover, .glow {
  box-shadow: 0 0 1rem 0.1rem #CD1DF2;
}

.dropdown-item {
  color:#adb5bd;
}

.dropdown-item:hover {
  background:#CD1DF2;
  color:#F8F9FA;
}

.input-group-append {
  cursor: pointer;
}

.wrapper {
  width: 85%;
}

.hero {
  /* height: 33vh; */
  background-image: url('../../images/hero.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  /* z-index: 99; */
}

.hero::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  z-index: 1;
}

#hero.hero {
  height: 40vh;
}

#home.hero, #about.hero {
  height: 78vh;
}

.hero > * {
  z-index: 99;
  position: relative;
}

.card {
  box-shadow: 0 0 1rem #CD1DF2;
  transition: all 0.3s ease-in-out;
  border: none;
}

.card:hover {
  transform: scale(1.01);
}

.card-img-top, .card-img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

#square.card-img, #square.card-img-top {
  aspect-ratio: 1;
}

.list-group li {
  background-color: #212529;
  color: white;
}

select#event_date_date_month, select#event_date_date_day,
select#event_date_date_year, select#event_date_time_hour,
select#event_date_time_minute {
  padding: 0.3rem;
  margin-inline: 0.3rem;
  border-color: #CD1DF2;
  border-radius: 0.3rem;
}
