<div class="bg-dark w-100 p-3">
  <footer class="d-flex flex-wrap justify-content-between align-items-center pt-3 pb-0 my-4 border-top">
    <div class="d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <i class="bi bi-calendar-heart-fill text-light" width="30" height="24"></i>
      </a>
      <span class="mb-3 mb-md-0 text-light">&copy; 2023 Christine Weidhofer</span>
    </div>

    <ul class="nav justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-twitter" width="24" height="24" aria-hidden="true"></i><span class="visually-hidden">Twitter</span></a></li>
      <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-instagram" width="24" height="24" aria-hidden="true"></i><span class="visually-hidden">Instagram</span></a></li>
      <li class="ms-3"><a class="text-light" href="#"><i class="bi bi-facebook" width="24" height="24" aria-hidden="true"></i><span class="visually-hidden">Facebook</span></a></li>
    </ul>
  </footer>
</div>