<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-light">
<div class="container-fluid">
    <a href="/" class="mx-4 text-muted text-decoration-none lh-1">
        <i class="bi bi-calendar-heart-fill text-light" width="30" height="24"></i>
    </a>
    <a class="navbar-brand" href="/">Big Events</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav d-md-flex flex-md-row justify-content-center justify-content-md-between w-100 mt-md-4 mt-lg-0">
            <ul class="nav1 d-flex align-items-md-center navbar-nav p-5 p-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
            </ul>
            <ul class="nav2 d-flex align-items-md-center navbar-nav p-5 p-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="/event">Show All Events</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/event/new">Create New Event</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-success text-white py-1 px-2" href="/">Search</a>
                </li>
            </ul>
        </div>
    </div>
</div>
</nav>
